@import url(fonts.css);
:root {
  --input-backgrounds: #1e2124;
  --input-labels: #0d0e10;
  --placeholder-color-focused: #707070;
  --font-color: #e2e2e2;
  --fourth-color: #634928;
  --filters-font-color: #fff8e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roman-smallcaps;
  font-size: 14.3px;
  color: white;
}
html,
body {
  height: 100%;
}
body {
  background: black url("../assets/settlersofkalguur-bg.jpg") no-repeat top
    center fixed;
  background-size: contain;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
}
input {
  box-sizing: border-box;
}
img {
  border: 0;
  vertical-align: middle;
}
.logo > img {
  max-width: 275px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.main {
  position: relative;
  margin: 30px auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 32rem;
}

.main .box {
  width: 100%;
  padding: 40px 70px;
  border-image-source: url("../assets/nine-palace-bg.png");
  border-image-slice: 20 fill;
  border-image-width: 10px;
  position: relative;
}
